@font-face {
    font-family: "nanumGothicEco";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumGothicEco";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "nanumGothicEco";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumGothicEco/nanumGothicEco-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
.nanumGothicEco {
    font-family: "nanumGothicEco";
}
.nanumGothicEco400 {
    font-family: "nanumGothicEco";
    font-weight: 400;
}
.nanumGothicEco700 {
    font-family: "nanumGothicEco";
    font-weight: 700;
}
.nanumGothicEco800 {
    font-family: "nanumGothicEco";
    font-weight: 800;
}